<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musicology</title>

    <link rel="stylesheet" type="text/css" href="../public/style/main.css" />
    <link rel="stylesheet" type="text/css" href="../public/style/detail.css" />
    <link rel="stylesheet" type="text/css" href="../public/style/edit.css" />
    <link rel="stylesheet" type="text/css" href="../public/style/library.css" />
    <link rel="stylesheet" type="text/css" href="../public/style/login.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lobster&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <% if(path=="login"){ %>
    <!--  -->
    <%- include ('./page/login.ejs') %>
    <!--  -->
    <% } else {%>
    <!--  -->

    <%- include ('./component/common/comp-header.ejs') %>
    <!--  -->
    <%- include ('./component/common/comp-nav.ejs') %>
    <main>
      <% if(path =="main"){ %>
      <section class="main-section-a">
        <%- include ('./component/main/comp-screen.ejs') %>
      </section>
      <section class="main-section-b">
        <%- include ('./component/main/comp-book.ejs') %>
      </section>
      <% } %>

      <!--  -->
      <% if(path == "library"){ %>
      <section class="library-section-a">
        <%- include ('./component/library/comp-list.ejs') %>
      </section>
      <div class="add-btn-container">
        <span class="add-btn">ADD BOOK</span>
      </div>
      <section class="library-section-b">
        <%- include ('./component/post/comp-add.ejs')%>
      </section>
      <% } %>

      <!--  -->
      <% if(path == "edit") { %>
      <section class="edit-section">
        <%- include ('./component/post/comp-edit.ejs') %>
      </section>
      <% } %>

      <!--  -->
      <% if(path == "detail"){ %>
      <section class="detail-section">
        <%- include ('./component/library/comp-detail.ejs') %>
      </section>
      <% }%>

      <!--  -->
      <% if(path == "favorite"){ %>
      <div></div>
      <% } %>
    </main>

    <%- include ('./component/common/comp-footer.ejs') %>

    <!--  -->
    <% } %>

    <script defer src="../public/main.js"></script>
    <script defer src="../public/login.js"></script>
  </body>
</html>
