<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicology</title>

  <link rel="stylesheet" href="/public/books/library.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600;900&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lobster&family=Permanent+Marker&display=swap"
    rel="stylesheet">
  <script defer src="/public/books/library.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

  <%- include ('header.ejs') %>


  <main>
    <section class="section1">
      <div class="container">
        <div class="book-category">
          <div class="category-inner1">
            <span>ALL</span>
            <span>GENERAL MUSICOLOGY</span>
            <span>HISTORY AND BIOGRAPHY</span>
            <span>MUSIC AND CULTURE</span>
            <span>MUSIC THEORY</span>
            <span>ESSENTIAL REFERENCES</span>
          </div>
          <div class="category-inner2">
            <label for=""></label>
          </div>
        </div>

        <div class="book-list">

          <% for(let i=0; i<books.length; i++){ %>
          <div class="book-card">
            <div class="book-img">
              <div class="img">
                <img src="<%= books[i].이미지 %>" alt="">
              </div>
            </div>
            <div class="book-info">
              <span class="title"><%= books[i].제목 %></span>
              <span class="subtitle"><%= books[i].부제목 %></span>
              <span class="author"><%= books[i].작가 %></span>
              <span class="date"><%= books[i].연도 %></span>
              <span class="publish"><%= books[i].출판사 %></span>
              <span class="group"><%= books[i].분류 %></span>
            </div>
            <button class="delete" data-id="<%= books[i]._id %>">삭제</button>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </main>



  <footer>
    <div class="title-container">
      <span>MUSICOLOGY</span>
    </div>
  </footer>



</body>

</html>