<!DOCTYPE html>
<html>

<head>

  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibraryDetail</title>


  <link rel="stylesheet" href="/public/books/detail.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600;900&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lobster&family=Permanent+Marker&display=swap"
    rel="stylesheet">
  <script defer src="/public/books/library.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

  <%- include ('comp-header.ejs') %>


  <main>
    <section class="section1">
      <div class="container">
        <div class="book-card">
          <div class="book-img">
            <div class="img">
              <img src="<%= books.이미지 %>" alt="">
            </div>
          </div>
          <div class="book-info">
            <span class="title"><%= books.제목 %></span>
            <span class="subtitle"><%= books.부제목 %></span>
            <span class="author"><%= books.작가 %></span>
            <span class="date"><%= books.연도 %></span>
            <span class="publish"><%= books.출판사 %></span>
            <span class="group"><%= books.분류 %></span>
            <div class="btn-container">
              <button class="edit" onclick="location.href = '/library/edit/<%= books._id %>'">수정</button>
              <button class="delete" data-id="<%= books._id %>">삭제</button></div>
          </div>

        </div>

        <div class="book-detail">
          <div class="detail"><%= books.상세정보 %></div>
          <a href="<%= books.구매처 %>">구매하기</a>
        </div>

      </div>
    </section>
  </main>



  <footer>
    <div class="title-container">
      <span>MUSICOLOGY</span>
    </div>
  </footer>



</body>

</html>