<div class="container">
  <div class="detail-wrapper-a">
    <div class="detail-img">
      <div class="img">
        <img src="<%= book.이미지 %>" alt="" />
      </div>
    </div>
    <div class="detail-info">
      <span class="title"><%= book.제목 %></span>
      <span class="subtitle"><%= book.부제목 %></span>
      <span class="author"><%= book.작가 %></span>
      <span class="date"><%= book.연도 %></span>
      <span class="publish"><%= book.출판사 %></span>
      <span class="group"><%= book.분류 %></span>
      <div class="btn-container">
        <button class="edit" onclick="location.href = '/edit/<%= book._id %>'">
          수정
        </button>
        <button class="delete" data-id="<%= book._id %>">삭제</button>
      </div>
    </div>
  </div>

  <div class="detail-wrapper-b">
    <div class="detail-text"><%= book.상세정보 %></div>
  </div>
</div>
